@import "tailwindcss";
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Fonte_thin';
}

h1,
h2 {
  font-family: 'Fonte_bold';
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#menu {
  font-family: 'Fonte_regular';
  font-size: 18px;
  z-index: 10;
  top: 20%;
  border: white 2px solid;
}

.menu_categoria {
  font-family: 'Fonte_bold' !important;
  color: #b88805;
  font-size: 33px;
}


.categorias{
  display: flex;
  z-index: 20 !important;
  font-size: clamp(5px,3vw,17px);
  cursor: pointer !important;
}

.categorias:hover{
  color:rgb(153, 152, 152);
  
}

#categorias_nav{
  text-align: center;
}


#pizza_landing_1 {
  animation: fadeIn 1.3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  will-change: opacity, transform;
  position: absolute;
  z-index: 0;
  user-select: none;
  pointer-events: none;
  width: clamp(160px,30vw,1000px);
  left: clamp(10%,1vw,6%);
  top: 10%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px) scale(0.96);
  }

  70% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

#pizza_group_1 {
  animation: fadeInGroup 1.3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  will-change: opacity, transform;
  position: absolute;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  right: clamp(10%,1vw,6%);
  width: clamp(130px,20vw,1000px);
  top: 70%;
}

#pizza_group_2 {
  animation: fadeInGroup 1.3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  will-change: opacity, transform;
  position: absolute;
  top: 80%;
  user-select: none;
  pointer-events: none;
  z-index: 2;
  right: clamp(10%,1vw,6%);
  width: clamp(110px,18vw,900px);
}

#pizza_group_3 {
  animation: fadeInGroup 1.3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  will-change: opacity, transform;
  position: absolute;
  top: 90%;
  user-select: none;
  pointer-events: none;
  z-index: 3;
  right: clamp(10%,1vw,6%);
  width: clamp(130px,20vw,1000px);
}

@keyframes fadeInGroup {
  0% {
    opacity: 0;
    transform: translateX(20px) scale(0.96);
  }

  70% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

#title{
  animation: fadeInTitle 1.4s ease-in;
  font-size: clamp(16px,6vw,62px);
}

@keyframes fadeInTitle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#subTitle{
  animation: fadeInSubTitle 1.5s ease-in-out;
  font-size: clamp(10px,3vw,42px);
}

@keyframes fadeInSubTitle {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
  }
}

#lastTitle{
  animation: fadeInLastTitle 1.5s ease-in-out;
  margin-top: clamp(1px, -1vw, 10px);
  font-size: clamp(10px,3vw,42px);
}

@keyframes fadeInLastTitle {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
  }
}







@font-face {
  font-family: 'Fonte_bold';
  src: url('./assets/fonts/Londrina_Solid/LondrinaSolid-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Fonte_thin';
  src: url('./assets/fonts/Londrina_Solid/LondrinaSolid-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Fonte_regular';
  src: url('./assets/fonts/Londrina_Solid/LondrinaSolid-Regular.ttf') format('truetype');
}